<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Welcome to the variety food truck.</h1>

    <div id="category-section">
        <form action="{{url_for('select_category')}}" method="POST">
            {% for category in menu.keys() %}
                <input type="radio" name="category" value={{category}}>{{category}}<br>
            {% endfor %}
            <br>
            <input type="submit" value="Submit">
        </form>    
    </div>
 
</body>
</html>