<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap" rel="stylesheet">

    <!-- Base Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Mobile Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-mobile.css')}}" media="screen and (max-width: 480px)">

    <!-- Tablet Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-tablet.css')}}" media="screen and (min-width: 481px) and (max-width: 1024px)">

    <!-- Desktop Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-desktop.css')}}" media="screen and (min-width: 1025px)">
    
</head>
<body>
    <div id="header-section">
        <h1>Welcome to Variety Food truck</h1>
    </div>

    <div id="menu"></div>
        <div id="categories-section">
            {% for category in menu.keys()%}
                <button class="categories" value={{category}} onclick="getItems(this.value)">{{category.upper()}}</button>
            {% endfor %}
        </div>
    </div>

    <div id="data-section">
        <h1 id="category-heading"></h1>
        <div id="items-section"></div>
    </div>

    <!-- Javascript -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>