<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
   
</head>
<body>
    <div id="header-section">
        <h1>Welcome to Variety Food truck</h1>
    </div>

    <div id="menu">
        <div id="categories-section">
            <button class="categories">SNACKS</button>  
            <button class="categories">MEALS</button>
            <button class="categories">DRINKS</button>  
            <button class="categories">DESSERTS</button>
        </div>
    </div>
    
    <div id="data-section"> 
        <h1>Snacks</h1>    
        <div id="items-section">        
            <div class="items">
                <div class="item-name">Cookie</div>
                <div class="quantity-container">
                    <label>Qty:</label>
                    <input type="number" class="quantity-input" value="1", min="1"/>    
                </div>
                <div class="item-price">$0.99</div>
                <button>ADD</button>   
            </div> 
          
            <div class="items">
                <div class="item-name">Banana</div>
                <div class="quantity-container">
                    <span>
                        <label>Qty: </label>
                        <input type="number" class="quantity-input" value="1", min="1"/>    
                    </span> 
                </div>
                <div class="item-price">$0.99</div>
                <button>ADD</button>   
            </div> 
           
            <div class="items">
                <div class="item-name">Apple</div>
                <div class="quantity-container">
                    <span>
                        <label>Qty: </label>
                        <input type="number" class="quantity-input" value="1", min="1"/>    
                    </span> 
                </div>
                <div class="item-price">$0.49</div>
                <button>ADD</button>    
            </div> 

            <div class="items">
                <div class="item-name">Granola bar</div>
                <span>
                    <label>Qty: </label>
                    <input type="number" class="quantity-input" value="1", min="1"/>    
                </span> 
                <div class="item-price">$1.99</div>
                <button>ADD</button>    
            </div> 

            <div class="items">
                <div class="item-name">Granola bar</div>
                <div class="quantity-container">
                    <span>
                        <label>Qty: </label>
                    <input type="number" class="quantity-input" value="1", min="1"/>    
                    </span>   
                </div>
                <div class="item-price">$0.99</div>
                <button>ADD</button>    
            </div> 

            
        </div>

   
        <div id="cart-section">
            <table id="cart-items" border="1">
                <thead>
                    <tr>
                        <th colspan="3">ORDER RECEIPT</th>
                    </tr>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cookie</td>
                        <td>2</td>
                        <td>0.99</td>
                    </tr>
                    <tr></tr>
                        <td>Granola Bar</td>
                        <td>5</td>
                        <td>1.99</td>
                    </tr>
                </tbody>    
                <tfoot>
                    <tr>
                        <td colspan="2">Total:</td>
                        <td>$2.98</td>
                    </tr>
                </tfoot>
            </table>
            <button>PLACE ORDER</button>
        </div>
    

    </div>   
    
</body>
</html>